html {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
  font-family: 'Federo';
  background-color: white;
  background-image: url('https://res.cloudinary.com/dh41vh9dx/image/upload/v1595772092/Screen_Shot_2020-07-26_at_10.01.04_AM.png');
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
gi}

.quote-container {
  width: auto;
  max-width: 800px;
  padding: 30px 20px;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 0 10px 10px 10px rgba(0, 0, 0, 0.5);
}

.quote-text {
  font-size: 2.5rem;
}
.long-quote {
  font-size: 2rem;
}
.quote-author {
  font-size: 2rem;
  font-style: italic;
  margin-top: 15px;
}
.button-container {
  /* max-width: 400px; */
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
}

button {
  cursor: pointer;
  font-size: 1.1rem;
  border: none;
  border-radius: 10px;
  color: white;
  background-color: #333;
  outline: none;
  padding: 0.5rem 1.8rem;
  box-shadow: 0 0.3rem rgba(121, 121, 121, 0.6);
}

button:hover {
  filter: brightness(120%);
}

button:active {
  transform: translate(0, 0.3rem);
  box-shadow: 0 0.1rem rgba(255, 255, 255, 0.65);
}

.twitter-button {
  font-size: 1.5rem;
}
.twitter-button:hover {
  color: #38a1f3;
}

/* Loader */
.loader {
  border: 16px solid #f3f3f3;
  border-top: 16px solid #333;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@media screen and (max-width: 1000px) {
  .quote-container {
    position: relative;
    margin: 0 auto;
  }
  .quote-text {
    font-size: 1.7rem;
  }
  .author {
    font-size: 1.5rem;
  }
  .button-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 10px auto;
  }
  button {
    margin: 5px;
  }
}
